/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ENDS */

@font-face {
    font-family: 'Square Peg';
    src: url(media/SquarePeg-Regular.ttf);
}

/* button to swap from chalkboard to whiteboard */

:root {
    --chalk: #e0dbd1;
    --chalkboard: #3b6b57;
    --marker: #ce2d30;
    --whiteboard: #f0f0f0;
    --fontsize: 100px;
}

#container {
    background-color: var(--chalkboard);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    justify-content: center;
}

#header {
    color: var(--chalk);
    font-family: 'Square Peg', sans-serif;
    font-weight: 700;
    font-size: var(--fontsize);
}

#gameboardContainer {
    background-color: var(--chalk);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
}

.boardCell {
    background-color: var(--chalkboard);
    color: var(--chalk);
    font-family: 'Square Peg', sans-serif;
    font-weight: 700;
    font-size: var(--fontsize);
    border-style: none;
    padding: 0%;
}

#resetButton {
    background-color: var(--chalkboard);
    color: var(--chalk);
    font-family: 'Square Peg', sans-serif;
    font-size: 60px;
    font-weight: 700;
    width: fit-content;
    justify-self: center;
    padding: 20px;
    border-style: none;
    border-radius: 20px;
}

#resetButton:hover {
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 8%;
}